* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  min-height: 100vh;
  background-color: grey;
  border: 2px solid black;

}
.box {
  width: 600px;
  height: 400px;
  margin: 0 auto;
  border: 2px solid;
  background-color: white;
  border-radius: 10%;
  margin-top: 30px;
  padding: 30px;
  
}
.sp {
  font-size: 20px;

}
.formcontainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  
}
.inputform {
  display: flex;
  flex-direction: column;
}
.button1 {
  float: right;
  border-radius: 20%;
  border-bottom: 10px;
}
button {
  background-color: blue;
  font-size: 30px;
  border-radius: 1000px;
}
button:hover {
  background-color: antiquewhite;
}
